#formz_form_extra .x-panel .panel-desc {
    margin-top: 0;
}
#formz_form_extra .x-panel:first-child .panel-desc {
    margin-top: 15px;
}
#formz_form_success {
    margin-top: 30px;
}
#formz_form_success .x-form-item.x-hide-label {
    padding-top: 0!important;
}

.action_button {
    float: left;
    line-height: .7;
    margin-right: 5px;
    font-size: 1.1em;
}
